# ===== OS =====
.DS_Store
Thumbs.db

# ===== Editor =====
/.vscode/

# ===== Dependencies =====
/node_modules/
/vendor/

# ===== Environment =====
/.env
/.env.*

# ===== Build output =====
/dist/
/build/
/out/

# ===== wrangler files =====
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
